@import '_mixin';

/*reset style*/
@import '_resetStyle';

@import '_global';

$opacityBG: rgba(255, 255, 255, .2);

body {
   background: #fff;
   font-family: sans-serif;
   // background: #000;
}


.widget {
   position: fixed;
   transition: .5s;

   @media (min-width:768px) {
      top: 50%;
      transform: translateY(-50%);
      height: 600px;
      max-width: 350px;
   }
   @media (max-width:768px) {
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100vw;
   }
   @media (min-width:768px) {
      right: -400px;
   }
   @media (max-width:768px) {
      right: -120%;
   }

   overflow: hidden;

   &._active {
      @media (min-width:768px) {
         right: 20px;
         border-radius: 20px;
      }
      @media (max-width:768px) {
         right: 0;
         background: #000;
      }
   }

   filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .5));
}

.widget-btn {
   position: fixed;
   right: 20px;
   top: 50%;
   transform: translateY(-50%);
   border: solid 10px lightblue;
   border-radius: 50%;
   cursor: pointer;

   img {
      border-radius: 50%;
   }

   animation: toggleBorder .2s infinite alternate;
}

@keyframes toggleBorder {
   to {
      border: solid 10px rgba(0, 0, 0, 0);
   }

   from {
      border: solid 10px lightblue;
   }
}


.video-chat {

   // @media (max-width:$md3 +px) {
   max-width: 480px;
   // }

   margin: 0 auto;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.video {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   z-index: 1;
   overflow: hidden;
}

.video.vertical video {
   height: 100%;
}

.video.horizontal video {
   width: 100%;
}

.header {
   position: relative;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   // padding: 50px;
   // @include adaptiv-value('padding-top', 50, 10);
   // @include adaptiv-value('padding-left', 50, 10);
   // @include adaptiv-value('padding-right', 50, 10);
   padding: 10px;
}

.user {
   border-radius: 20px;
   gap: 9px;
   background: $opacityBG;
   // padding: 10px;
   // @include adaptiv-value('padding', 9, 6);
   padding: 6px;


   display: flex;
   align-items: center;

   &__ava img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
   }

   &__name {
      font-weight: 700;
      color: #fff;
      padding-bottom: 4px;
      text-shadow: 0 0 10px #000;

   }

   &__viewers {
      color: #f0f0f0;
      font-weight: 400;
      text-shadow: 0 0 10px #000;
      font-size: 15px;
      // @include adaptiv-value('font-size', 15, 11);
      font-size: 11px;

   }

   &__subscribe {
      padding: 9px 7px 10px 7px;
      border-radius: 30px;
      color: #cc1b1b;
      font-weight: 700;
   }
}

.close {
   width: 30px;
   height: 30px;
   position: relative;
   background: none;

   align-items: center;

   &::after,
   &::before {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: #fff;
      position: absolute;
   }

   &::after {
      top: 15px;
      transform: rotate(-45deg);
   }

   &::before {
      top: 15px;
      transform: rotate(45deg);
   }
}

.watch {
   position: absolute;
   bottom: -20px;
   right: 0;

   button {
      padding: 5px 5px 5px 20px;
      background: $opacityBG;
      border-radius: 10px 0 0 10px;
      color: #fff;
   }
}

.bottom {
   position: relative;
   z-index: 2;

   // padding-right: 20px;
   // @include adaptiv-value('padding-right', 20, 10);
   padding-right: 10px;

}

.chat {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.chat__btns {
   display: flex;
   flex-direction: column;
   justify-content: center;

   // @media (min-width:$md3 +px) {
   // padding-right: 70px;
   //    @include adaptiv-value('padding-right', 70, 0);
   // }
   padding-right: 0;

   button {
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 10px;
      background-color: #fff;

      // @media (min-width:$md3 +px) {
      //    padding: 25px;
      //    font-size: 25px;
      //    border-radius: 20px;
      //    background-color: #fff;
      // }
   }

   button:last-child {
      margin: 0;
   }
}

.chat__list {
   display: flex;
   flex-direction: column;
   overflow: auto;

   // @media (max-width:$md2 +px) {
   max-height: 230px;
   // }

   // @media (min-width:$md2 +px) {
   //    max-height: calc(100vh / 2);
   // }

   // padding: 15px;
   // @include adaptiv-value('padding', 15, 5);
   padding: 5px;

   &::-webkit-scrollbar {
      width: 0;
      display: none;
   }

   overflow: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
   -ms-overflow-style: none;
   overflow: -moz-scrollbars-none;
}

.chat-message {
   display: flex;
   justify-content: space-between;
   align-items: center;
   // padding: 10px;
   // @include adaptiv-value('padding', 10, 5);
   padding: 5px;

   // gap: 20px;
   // @include adaptiv-value('gap', 20, 5);
   padding: 5px;
   border-radius: 20px;

   // @media (min-width:$md3 +px) {
   //    background: $opacityBG;
   //    margin-bottom: 15px;
   // }


   &__name {
      font-size: 18px;
      color: #fff;
      // margin-bottom: 10px;
      // @include adaptiv-value('margin-bottom', 10, 5);
      margin-bottom: 5px;

   }

   &__content {
      padding-left: 40px;
      position: relative;
   }

   &__text {
      color: #fff;
      line-height: 1.3;
      // font-size: 15px;
      // @include adaptiv-value('font-size', 15, 12);
      font-size: 12px;
      font-weight: 100;
   }

   &__ava {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;

      img {
         width: 100%;
         height: 100%;
         border-radius: 50%;
      }
   }

}

.panel {
   display: flex;
   justify-content: space-between;
   align-items: center;
   // padding: 15px;
   // @include adaptiv-value('padding', 15, 5);
   padding: 5px;



   &__icons.visible {
      // @media (min-width:320px) {
      padding-right: 35px;
      // }

      // @media (min-width:$md2 +px) {
      //    padding-right: 40px;
      // }

      // @media (min-width:$md1 +px) {
      //    padding-right: 50px;
      // }
   }

   &__icons {
      display: flex;
      justify-content: space-around;
      position: relative;
   }

   &.icons-visivle {
      .panel__icons_hidden {
         z-index: 999;

         .panel__icon {
            margin: 0;
            background: red;
            margin-bottom: 5px;
         }

         .panel__icon.icon-visible-btn {
            background: #fff;
         }
      }

      .panel__icon {
         margin-bottom: 5px;
      }
   }

   &__icon {
      // @media (min-width:320px) {
      width: 35px;
      height: 35px;
      // }

      // @media (min-width:$md4 +px) {
      //    width: 35px;
      //    height: 35px;
      // }

      // @media (min-width:$md2 +px) {
      //    width: 40px;
      //    height: 40px;
      // }

      // @media (min-width:$md1 +px) {
      //    width: 50px;
      //    height: 50px;
      // }

      // @media (min-width:$md3 +px) {
      //    cursor: pointer;
      // }

      background: $opacityBG;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .1s;
      margin-right: 8px;
   }

   &__icon:last-child {
      margin: 0;
   }

   &__icon.hidden {
      width: 0px;
      height: 0px;
      overflow: hidden;
      margin: 0;
   }

   .icon-visible-btn {
      background: #fff;
      display: flex;
   }

   .icon-visible-btn:after {
      content: '...';
      font-size: 30px;
      transform: rotate(-90deg) translateY(-8.5px);
   }
}

.panel-textarea {
   font-size: 16px;

   &::-webkit-scrollbar {
      width: 0;
      display: none;
   }

   overflow: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
   -ms-overflow-style: none;
   overflow: -moz-scrollbars-none;

   padding: 10px;
   background: $opacityBG;
   color: #fff;
   border-radius: 20px;
   transition: .3s;
   margin-right: 5px;
   // font-size: 15px;

   // @include adaptiv-value('font-size', 15, 12);
   font-size: 16px;


   // @media (max-width:$md3 +px) {
   flex-basis: 100%;
   // }

   // @media (min-width:$md3 +px) {
   //    width: 50%;
   // }
   &::placeholder {
      color: #d9d9d9;
   }

}

.panel__icons_hidden {
   position: absolute;
   right: 0;
   bottom: 0;
}